:root {
  --color-content: #000918;
  --color-background: #fff;
  --color-background-overlay: rgba(255, 255, 255, 0.55);
  --color-blue: #0046b7;
  --color-green: #62f7c5;
  --color-green-mid: #a5ffe3;
  --color-green-2: #54d398;
}

html {
  line-height: 1;
}

img {
  max-width: 100%;
  height: auto;
}

summary {
  list-style: none;
  cursor: pointer;
  &::-webkit-details-marker {
    display: none;
  }
}

select {
  cursor: pointer;
}
