.Hero {
  --hero-bg-y-1: 0%;
  --hero-bg-y-2: 55%;
  --hero-bg-y-3: 125%;
  --hero-before-mask: 100%;
  --hero-after-mask: 0%;
  @include pc {
    --hero-heading-font-size: clamp(2.5rem, (100vw - 1300px) * 0.15 + 10rem, 10rem);
  }
  @include sp {
    --hero-heading-font-size: 25vw;
  }

  position: relative;
  display: grid;
  align-items: center;
  padding-block-end: 40px;
  overflow: hidden;
  font-family: var(--font-family-emphasis);
  block-size: 80vh;
  @include pc {
    padding-inline: 7% 11%;
    margin-inline-start: var(--section-label-width);
  }
  @include sp {
    padding-inline: 4% 6%;
  }
  &::before,
  &::after {
    position: absolute;
    inset: 0;
    z-index: -1;
    display: block;
    min-width: 1500px;
    backface-visibility: hidden;
    content: "";
  }
  &::before {
    clip-path: polygon(100% var(--hero-bg-y-1), 0% var(--hero-bg-y-2), 0% 100%, 100% 100%);
    background-image: linear-gradient(
      190deg,
      var(--color-secondary),
      var(--color-secondary-light),
      var(--color-background)
    );
    mask-image: linear-gradient(to right, transparent 50%, #000 50%);
    mask-size: 200%;
    mask-position: var(--hero-before-mask);
  }
  &::after {
    clip-path: polygon(0% var(--hero-bg-y-2), 100% var(--hero-bg-y-3), 100% 100%, 0% 100%);
    background-image: linear-gradient(190deg, var(--color-background) 50%, var(--color-primary-light));
    mask-image: linear-gradient(to right, #000 50%, transparent 50%);
    mask-size: 200%;
    mask-position: var(--hero-after-mask);
  }
}
.Hero__Mesh {
  --line-color: #f3f3f3;
  --mesh-size: 120px;

  position: absolute;
  inset: 0;
  background-image: linear-gradient(to right, var(--line-color) 1px, transparent 1px),
    linear-gradient(to bottom, var(--line-color) 1px, transparent 1px);
  background-position: calc(-1 * var(--mesh-size));
  background-size: var(--mesh-size) var(--mesh-size);
}
.Hero__Inner {
  position: relative;
  max-width: 1000px;
  margin-inline: auto;
  font-size: var(--hero-heading-font-size);
}
.Hero__Label {
  --clip-size: 0%;
  --overlay-right: 0%;
  --overlay-left: 0%;
  clip-path: polygon(0% 0%, 0% 110%, var(--clip-size) 110%, var(--clip-size) 0%);
  line-height: 1;
  color: var(--color-secondary);
  background-color: var(--color-primary-light);
  @include pc {
    position: absolute;
    font-size: clamp(1.25rem, 0.4em, 3.2rem);
    inset-block-start: calc(var(--hero-heading-font-size) * 0.8 - 2em);
    inset-inline-end: calc(var(--hero-heading-font-size) * -0.2);
  }
  @include sp {
    position: relative;
    width: fit-content;
    margin-block-end: 0.5em;
    font-size: clamp(1.25rem, 0.3em, 3.2rem);
  }
  &::after {
    position: absolute;
    inset-block: 0;
    inset-inline-end: var(--overlay-right);
    inset-inline-start: var(--overlay-left);
    display: block;
    content: "";
    background-color: var(--color-secondary);
  }
}
.Hero__Heading {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  row-gap: 0.2em;
}
.Hero__Heading__Name {
  display: flex;
  flex-wrap: wrap;
  color: var(--color-secondary);
  @include pc {
    letter-spacing: 0.02em;
  }
  @include sp {
    justify-content: space-between;
  }
  [data-index="5"] {
    // 空白位置で改行する
    width: 100%;
  }
}
.Hero__Heading__Title {
  @include pc {
    justify-self: end;
    font-size: 0.75em;
    color: var(--color-background);
  }
  @include sp {
    justify-self: center;
    font-size: 0.5em;
    color: var(--color-primary-dark);
  }
}
