---
import "./Hero.scss";
---

<div class="Hero">
  <div class="Hero__Mesh"></div>
  <div class="Hero__Inner">
    <p class="Hero__Label">Frontend engineer</p>
    <h1 class="Hero__Heading">
      <span class="Hero__Heading__Name" data-hero-name-container
        ><span class="tw-sr-only" data-hero-name-source>KISHI YOSHIMARU</span>
      </span>
      <span class="Hero__Heading__Title" data-hero-title-container
        ><span class="tw-sr-only" data-hero-title-source>PORTFOLIO</span>
      </span>
    </h1>
  </div>
</div>

<script src="./Hero.ts"></script>
