.About {
  background-image: linear-gradient(var(--color-accent-muted), var(--color-background));
}
.About__Inner {
  --after-block-size: 300px;
  --right-start: min(90%, 85em);

  position: relative;
  padding-block-start: 120px;
  padding-block-end: var(--after-block-size);
  padding-inline: var(--section-padding-inline);
  @include pc {
    padding-inline-end: 13%;
    &::before {
      position: absolute;
      inset: 0;
      display: block;
      pointer-events: none;
      content: "";
      background-image: linear-gradient(
        to right,
        transparent var(--right-start),
        var(--color-accent) var(--right-start)
      );
    }
  }

  &::after {
    position: absolute;
    inset-inline: 0;
    inset-block-end: 0;
    display: block;
    block-size: var(--after-block-size);
    clip-path: polygon(0% 70%, 100% 0%, 100% 100%, 0% 100%);
    content: "";
    background-color: var(--color-accent);
  }
}
.About__Paragraph {
  line-height: 2.3;
  strong {
    font-size: 1.5em;
  }
}
.About__List {
  max-width: 60em;
  margin-block-start: 100px;
  counter-reset: about-count;
  > li {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    align-content: flex-start;
    counter-increment: about-count;
    &:not(:first-child) {
      @include pc {
        margin-block-start: 80px;
      }
      @include sp {
        margin-block-start: 40px;
      }
    }
    &:nth-child(2) {
      margin-inline-start: clamp(0%, (100vw - 650px) * 0.2, 20%);
    }
    &:nth-child(3) {
      margin-inline-start: clamp(0%, (100vw - 650px) * 0.1, 10%);
    }

    &::before {
      flex-shrink: 0;
      font-family: var(--font-family-emphasis);
      font-size: 8rem;
      color: var(--color-accent);
      content: counter(about-count, decimal-leading-zero);
    }

    > :nth-child(1) {
      flex-basis: 0;
      flex-grow: 9999;
      min-width: min(100%, 20em);
    }
  }
  h3 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 2;
    color: var(--color-foreground-emphasis);
  }
}

.About__ListItem {
  display: grid;
  @include pc {
    row-gap: 20px;
    column-gap: 20px;
  }
  @include sp {
    row-gap: 12px;
  }
  li:nth-child(1) & {
    @include pc {
      grid-template:
        "heading paragraph" auto
        "image   paragraph" 1fr / 35% 1fr;
    }
  }
  li:nth-child(2) & {
    @include pc {
      grid-template:
        "heading   image"
        "paragraph paragraph" /
        1fr auto;
    }
  }
  li:nth-child(3) & {
    @include pc {
      grid-template-areas:
        "heading  "
        "image    "
        "paragraph";
    }
  }

  h3 {
    @include pc {
      grid-area: heading;
    }
  }
  img {
    display: block;
    max-width: 292px;
    max-height: 150px;
    object-fit: contain;
    @include pc {
      grid-area: image;
    }
    @include sp {
      justify-self: center;
      max-height: 100px;
    }
    [data-theme="dark"] & {
      filter: brightness(0) invert(1);
    }
  }
  p {
    @include pc {
      grid-area: paragraph;
    }
  }
}
