---
import image2 from "@/assets/images/icon-accessibility.svg";
import image1 from "@/assets/images/icon-communication.svg";
import image3 from "@/assets/images/icon-device.svg";
import Img from "@/components/Img/Img.astro";
import HeadingPrimary from "../HeadingPrimary/HeadingPrimary.astro";
import Section from "../Section/Section.astro";
import "./About.scss";
---

<Section label="About Me" id="about" class="About">
  <div class="About__Inner">
    <HeadingPrimary decoration="About Me">自己紹介</HeadingPrimary>
    <p class="About__Paragraph" data-scroll-fade>
      <strong>岸嘉丸（きしよしまる）</strong>
    </p>
    <p class="About__Paragraph" data-scroll-fade>
      1997年東京都生まれ。中学生時代、Excelでゲームを作ろうとプログラミングを始めたことをきっかけに情報技術に興味を持ちました。<br
      />高校・大学で情報工学を学んだのち、2020年から制作会社でフロントエンドエンジニアとしてWeb制作を担当しています。
    </p>
    <ul class="About__List">
      <li class="About__ListItem" data-scroll-fade>
        <h3>伝えることに<span class="pc:tw-inline-block">興味があります</span></h3>
        <Img src={image1} alt="" height="120" />
        <p>
          情報をわかりやすく伝えること・表現することが好きです。また、それが役に立ったり、楽しんでもらえたりすることが喜びです。<br
          />
          Web制作の仕事を通じてクライアントの思いをサイトとして表現しているのはもちろんのこと、自分の知識を伝える個人的な活動として、Zennへの記事投稿を行ったり、小学校でプログラミング教室を開催したりしています。
        </p>
      </li>
      <li class="About__ListItem" data-scroll-fade>
        <h3>表現とアクセシビリティの<span class="pc:tw-inline-block">両立を目指しています</span></h3>
        <Img src={image2} alt="" height="120" />
        <p>
          ビジュアル表現やアニメーション演出は伝えたい印象を表現する上で重要です。しかし、それによってユーザビリティやアクセシビリティを損ねてはそもそも使えないサイトになってしまいます。
          これらの両立を実現するための技術を研究しています。<br />
          このサイトに実装している「アニメーションオフ」機能はその一つです。デフォルトではスクロールに合わせてコンテンツがフェードインしますが、「オフ」にすると無効化できます。
        </p>
      </li>
      <li class="About__ListItem" data-scroll-fade>
        <h3>ピクセルパーフェクトは、<span class="pc:tw-inline-block"><em>あえて</em>目指しません</span></h3>
        <Img src={image3} alt="" height="120" />
        <p>
          デザインデータを再現することはもちろん大前提。ですが、「どんな画面幅でもうまく表示されること」や「実装をシンプルに保つこと」なども考慮すると、最適な結果は他にある場合もあります。
          盲目的にデザインをなぞるのではなく、最良を目指して検討・議論しながら実装します。
        </p>
      </li>
    </ul>
  </div>
</Section>
