---
import sampleImage from "@/assets/images/300x150.png";
import Img from "@/components/Img.astro";
import LoadingScreen from "@/components/LoadingScreen.astro";
import SkillCard from "@/components/SkillCard.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Sample</h1>
    <SkillCard name="HTML" value={10} term="2 years" />
    <SkillCard name="HTML" value={50} term="2 years" />
    <SkillCard name="HTML" value={100} term="2 years" />
    <Img src={sampleImage} alt="" />
  </main>
  <!-- <LoadingScreen /> -->
</Layout>

<style>
  main {
    max-width: 60ch;
    padding: 1.5rem;
    margin: auto;
  }
  h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 800;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    background-position: 0%;
    -webkit-background-clip: text;
    background-size: 400%;
    -webkit-text-fill-color: transparent;
  }
  .instructions {
    padding: 1rem;
    margin: 1rem 0;
    line-height: 1.6;
    background-color: white;
    border: 1px solid rgba(var(--accent), 25%);
    border-radius: 0.4rem;
  }
  .instructions code {
    padding: 0.3em 0.45em;
    font-size: 0.875em;
    font-weight: bold;
    color: rgb(var(--accent));
    background: rgba(var(--accent), 12%);
    border-radius: 4px;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
