---
import About from "@/components/About.astro";
import Contact from "@/components/Contact.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Hero from "@/components/Hero.astro";
import LoadingScreen from "@/components/LoadingScreen.astro";
import SkillSet from "@/components/SkillSet.astro";
import Work from "@/components/Work.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <Header />
  <main>
    <Hero />
    <About />
    <SkillSet />
    <Work />
    <Contact />
  </main>
  <Footer />
  <!-- <LoadingScreen /> -->
</Layout>

<style is:global>
  p {
    max-width: 60em;
    line-height: 2;
  }
</style>
