---
import Layout from "@/base/Layout.astro";
import About from "@/features/portfolio/components/About/About.astro";
import Activity from "@/features/portfolio/components/Activity/Activity.astro";
import Contact from "@/features/portfolio/components/Contact/Contact.astro";
import Footer from "@/features/portfolio/components/Footer/Footer.astro";
import Header from "@/features/portfolio/components/Header/Header.astro";
import Hero from "@/features/portfolio/components/Hero/Hero.astro";
import LoadingScreen from "@/features/portfolio/components/LoadingScreen/LoadingScreen.astro";
import SkillSet from "@/features/portfolio/components/SkillSet/SkillSet.astro";
---

<Layout title="KISHI YOSHIMARU PORTFOLIO">
  <Header />
  <main>
    <Hero />
    <About />
    <SkillSet />
    <Activity />
    <Contact />
  </main>
  <Footer />
  <LoadingScreen />
</Layout>

<style is:global>
  p {
    max-width: 60em;
    line-height: 2;
  }
</style>
