.SkillSet__Inner {
  position: relative;
  padding-block-start: 120px;
  padding-block-end: 120px;
  padding-inline: 5% 10%;
  overflow: hidden;
  @include pc {
    --skill-set-bg-y-1: 0%;
    --skill-set-bg-y-2: 50%;
    --skill-set-bg-y-3: 90%;
  }
  @include sp {
    --skill-set-bg-y-1: 20em;
    --skill-set-bg-y-2: 35em;
    --skill-set-bg-y-3: 50em;
  }
  &::before,
  &::after {
    position: absolute;
    inset: 0;
    z-index: -1;
    display: block;
    content: "";
    @include pc {
      min-width: 1500px;
    }
  }
  &::before {
    clip-path: polygon(100% var(--skill-set-bg-y-1), 0% var(--skill-set-bg-y-2), 100% var(--skill-set-bg-y-3));
    background-image: linear-gradient(
      190deg,
      var(--color-secondary),
      var(--color-secondary-light) 30%,
      var(--color-background) 80%
    );
  }
  &::after {
    clip-path: polygon(0% 100%, 0% var(--skill-set-bg-y-2), 100% var(--skill-set-bg-y-3), 100% 100%);
    background-image: linear-gradient(
      190deg,
      var(--color-background) var(--skill-set-bg-y-2),
      var(--color-primary-light),
      var(--color-primary)
    );
  }
}

.SkillSetList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 360px), 1fr));
  gap: 1rem;
  margin-block-start: 40px;
}
