---
import "./Footer.scss";
---

<footer class="Footer">
  <p data-footer-text-container><span class="tw-sr-only" data-footer-text-source>Thank you!</span></p>
</footer>

<script src="./Footer.ts"></script>
