.Footer {
  padding-block-start: calc(var(--contact-cut-size) * 0.5);
  padding-inline: 5%;
  color: var(--color-background);
  text-align: end;
  background-color: var(--color-accent);
  block-size: calc(var(--contact-cut-size) + 80px);
  @include pc {
    font-size: 2.5rem;
  }
  @include sp {
    font-size: 1.6rem;
  }
  p {
    line-height: 1;
  }
}
