<footer class="Footer">
  <p>Thank you!</p>
</footer>

<style lang="scss">
  .Footer {
    block-size: calc(var(--contact-cut-size) + 80px);
    padding-block-start: 160px;
    padding-inline: 5%;
    font-size: 2.5rem;
    color: var(--color-background);
    text-align: end;
    background-color: var(--color-green);
  }
</style>
