---
export type Props = {
  decoration: string;
};
const { decoration } = Astro.props;
---

<h2 class="HeadingPrimary">
  <span aria-hidden="true" data-visual-only={decoration}></span>
  <slot />
</h2>

<style lang="scss">
  .HeadingPrimary {
    --decoration-font-size: clamp(8rem, (100vw - 1300px) * 0.3 + 16rem, 16rem);

    position: relative;
    z-index: 0;
    padding: calc(var(--decoration-font-size) * 0.6) 1em 0.5em calc(var(--decoration-font-size) * 0.2);
    font-size: 4.5rem;
    font-weight: bold;
    color: #0046b7;

    [data-visual-only] {
      position: absolute;
      z-index: -1;
      width: max-content;
      font-family: var(--font-family-emphasis);
      /* stylelint-disable-next-line declaration-property-unit-disallowed-list */
      font-size: var(--decoration-font-size);
      color: var(--color-green-light);
      pointer-events: none;
      inset-block-start: 0;
      inset-inline-start: 0;
    }
  }
</style>
