---
import "./HeadingPrimary.scss";
export type Props = {
  decoration: string;
};
const { decoration } = Astro.props;
---

<hgroup class="HeadingPrimary" data-scroll-fade>
  <p class="HeadingPrimary__Decoration">{decoration}</p>
  <h2><slot /></h2>
</hgroup>
