---
import "./HeadingPrimary.scss";
export type Props = {
  decoration: string;
};
const { decoration } = Astro.props;
---

<h2 class="HeadingPrimary" data-scroll-fade>
  <span aria-hidden="true" data-visual-only={decoration}></span>
  <slot />
</h2>
