.Activity__Inner {
  position: relative;
  z-index: 0;
  padding-block: 120px;
  padding-inline: var(--section-padding-inline);
}

.Activity__List {
  display: grid;
  max-width: 1000px;
  counter-reset: work-count;
  @include pc {
    grid-template-rows: 60px auto;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 80px;
    column-gap: 5%;
    margin-block-start: 60px;
  }
  @include sp {
    row-gap: 80px;
    margin-block-start: 40px;
  }
  > li {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    align-content: flex-start;
    counter-increment: work-count;
    @include pc {
      grid-row-end: span 2;
    }
    &:nth-child(1) {
      @include pc {
        grid-row-start: 1;
      }
    }
    &:nth-child(2) {
      @include pc {
        grid-row-start: 2;
      }
    }

    &::before {
      display: block;
      flex-shrink: 0;
      font-family: var(--font-family-emphasis);
      font-size: 6rem;
      font-weight: var(--font-family-emphasis);
      color: var(--color-accent);
      content: counter(work-count, decimal-leading-zero);
    }

    > :nth-child(1) {
      flex-basis: 0;
      flex-grow: 9999;
      min-width: min(100%, 20em);
    }

    :any-link {
      color: var(--color-foreground-emphasis);
      text-decoration: underline;
      transition-duration: var(--transition-fast);
      transition-property: opacity;
      @include hover {
        opacity: 0.7;
      }
      &[target="_blank"]::after {
        display: inline-block;
        width: 1em;
        height: 1em;
        margin-inline-start: 0.25em;
        vertical-align: middle;
        content: "";
        background-color: currentColor;
        mask-image: var(--icon-open-in-new);
        mask-position: center;
        mask-repeat: no-repeat;
      }
    }
  }
  h3 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5;
  }
}

.Activity__ClientWork {
  margin-block-start: 120px;
  text-align: center;
  p {
    margin-inline: auto;
    font-weight: 700;
    color: var(--color-foreground-emphasis);
  }
  :any-link {
    display: grid;
    align-items: center;
    width: 100%;
    max-width: 400px;
    min-height: 2em;
    margin-block-start: 20px;
    margin-inline: auto;
    font-size: 2rem;
    color: var(--color-background);
    background-color: var(--color-foreground-emphasis);
    transition-duration: var(--transition-fast);
    transition-property: opacity;
    @include hover {
      opacity: 0.7;
    }
  }
}

.Activity__DecorationBox {
  --block-size: min(200px + (100vw - 400px) * 0.25, 500px);
  --rect-size: 40%;
  position: absolute;
  z-index: -1;
  clip-path: polygon(
    0% 0%,
    var(--rect-size) 0%,
    100% calc(100% - var(--rect-size)),
    100% 100%,
    calc(100% - var(--rect-size)) 100%,
    0% var(--rect-size)
  );
  pointer-events: none;
  background-image: linear-gradient(
    135deg,
    var(--color-foreground-emphasis),
    var(--color-foreground-emphasis-muted),
    var(--color-accent-muted),
    var(--color-background)
  );
  transform: translateY(-20%);
  inset-block-start: 0;
  block-size: var(--block-size);
  inline-size: var(--block-size);
  @include pc {
    inset-inline-end: 10%;
  }
  @include sp {
    inset-inline-end: 0%;
  }
  &::before,
  &::after {
    position: absolute;
    display: block;
    content: "";
    block-size: var(--rect-size);
    inline-size: var(--rect-size);
  }
  &::before {
    inset-block-start: 0;
    inset-inline-start: 0;
    background-image: linear-gradient(135deg, var(--color-foreground-emphasis), var(--color-foreground-emphasis-muted));
  }
  &::after {
    inset-block-end: 0;
    inset-inline-end: 0;
    background-image: linear-gradient(135deg, var(--color-background), var(--color-accent-muted));
  }
}
