---
import HeadingPrimary from "../HeadingPrimary/HeadingPrimary.astro";
import Section from "../Section/Section.astro";
import "./Activity.scss";
---

<Section label="活動" id="activity">
  <div class="Activity__Inner">
    <HeadingPrimary decoration="Activity">活動</HeadingPrimary>
    <ul class="Activity__List">
      <li data-scroll-fade>
        <div>
          <h3>OSS活動</h3>
          <p>
            使用するライブラリ等にいくつかコントリビュートしています。最近ではMarkuplintのWebサイトメンテナとしてお手伝いしています。
            <a href="https://markuplint.dev/community#maintainers" target="_blank" rel="noopener noreferrer"
              >https://markuplint.dev/community#maintainers</a
            >
          </p>
        </div>
      </li>
      <li data-scroll-fade>
        <div>
          <h3>技術記事執筆</h3>
          <p>
            Zennに技術記事を投稿しています。HTML・CSSの話題が主です。<br />
            <a href="https://zenn.dev/kagan" target="_blank" rel="noopener noreferrer">https://zenn.dev/kagan</a>
          </p>
        </div>
      </li>
      <li data-scroll-fade>
        <div>
          <h3>小学生向けプログラミング教室</h3>
          <p>
            エンジニアの仕事とは全く関係ありませんが、年8回ほど、小学校で<a
              href="https://scratch.mit.edu/"
              target="_blank"
              rel="noopener noreferrer">Scratch</a
            >を使用したプログラミング教室の講師をしています。
          </p>
        </div>
      </li>
    </ul>
    {
      /*
    TODO: 準備でき次第掲載
    <div class="Activity__ClientWork">
      <p>実績の詳細はお問い合わせください</p>
      <a href="">CLIENT WORK</a>
    </div>
     */
    }
    <div class="Activity__DecorationBox"></div>
  </div>
</Section>
